<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<!-- DB情報設定 -->
	<bean id="propertyConfigurer" class="jp.co.jscore.backsys.common.db.EncryptPropertyPlaceholderConfigurer" >
	        <property name="locations">
	           <list>
	               <value>classpath:db.properties</value>
	           </list>
	       </property>
	</bean>

  <bean id="dataSourceTargetDps" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="${db.dps.jdbc.driver}" />
        <property name="url" value="jdbc:mysql://${BACKOFFICE_DATABASE_HOST}:${BACKOFFICE_DATABASE_PORT}/${BACKOFFICE_DATABASE}?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;requreSSL=true&amp;serverTimezone=JST&amp;allowPublicKeyRetrieval=true&amp;autoReconnect=false&amp;allowPublicKeyRetrieval=true&amp;verifyServerCertificate=true&amp;trustCertificateKeyStoreType=JKS&amp;trustCertificateKeyStoreUrl=file://${DATABASE_SSL_CA}&amp;trustCertificateKeyStorePassword=${DATABASE_SSL_CA_PASSWORD}" />
        <property name="username" value="${BACKOFFICE_DATABASE_USER}" />
        <property name="password" value="${BACKOFFICE_DATABASE_PASSWORD}"/>

    </bean>
    <bean id="dataSourceTargetFront" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="${db.front.jdbc.driver}" />
        <property name="url" value="jdbc:mysql://${J_SCORE_API_DATABASE_HOST}:${J_SCORE_API_DATABASE_PORT}/${J_SCORE_API_DATABASE}?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;requreSSL=true&amp;serverTimezone=JST&amp;allowPublicKeyRetrieval=true&amp;autoReconnect=false&amp;allowPublicKeyRetrieval=true&amp;verifyServerCertificate=true&amp;trustCertificateKeyStoreType=JKS&amp;trustCertificateKeyStoreUrl=file://${DATABASE_SSL_CA}&amp;trustCertificateKeyStorePassword=${DATABASE_SSL_CA_PASSWORD}" />
        <property name="username" value="${J_SCORE_API_DATABASE_USER}" />
        <property name="password" value="${J_SCORE_API_DATABASE_PASSWORD}" />

    </bean>
    <bean id="dataSourceTargetScrbatchDB" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="${db.front.jdbc.driver}" />
        <property name="url" value="jdbc:mysql://${SCRBATCH_DATABASE_HOST}:${SCRBATCH_DATABASE_PORT}/${SCRBATCH_DATABASE}?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;requreSSL=true&amp;serverTimezone=JST&amp;allowPublicKeyRetrieval=true&amp;autoReconnect=false&amp;allowPublicKeyRetrieval=true&amp;verifyServerCertificate=true&amp;trustCertificateKeyStoreType=JKS&amp;trustCertificateKeyStoreUrl=file://${DATABASE_SSL_CA}&amp;trustCertificateKeyStorePassword=${DATABASE_SSL_CA_PASSWORD}" />
        <property name="username" value="${SCRBATCH_DATABASE_USER}" />
        <property name="password" value="${SCRBATCH_DATABASE_PASSWORD}" />

    </bean>
    <!-- dynamicDataSource -->
    <bean id="dynamicDataSource" class="jp.co.jscore.backsys.common.db.DynamicDataSource" >
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="dataSourceTargetDps" key="dataSourceTargetDps"></entry>
                <entry value-ref="dataSourceTargetFront" key="dataSourceTargetFront"></entry>
                <entry value-ref="dataSourceTargetScrbatchDB" key="dataSourceTargetScrbatchDB"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSourceTargetDps" >
        </property>
    </bean>

	<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<!-- mybatisプロパティファイル -->
<!-- 		<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml" /> -->

	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="jp.co.jscore.backsys.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>



</beans>