$!name
XXX様

$!yyyyMMdd_slashに、
------------------------------------------------------------------------
#foreach($key in ${map.keySet()})
CID:　$key
日時：${map.get($key)}
------------------------------------------------------------------------
#end

