$nameさま

いつもデータ提供サービスをご利用くださり、誠にありがとうございます。
$yyyy年$mm月の提供料が確定しました。
下記URLより、予定受取額および受取方法をご確認ください。

▼提供料の予定受取額および受取方法の確認はこちら
https://app.jscore.co.jp/databusiness/histories/payment



※本メールは送信専用のメールアドレスから配信しております。
ご返信にはなれません。
お問合せの際は下記窓口までご連絡ください。

■お問合せ窓口
zendeskメールアドレス＠jscore.co.jp

株式会社J.Score（ジェイスコア）
https://www.jscore.co.jp
