$!name
ご担当者様

平素よりデータ提供サービスをご利用くださり、誠にありがとうございます。
下記オファーに基づく提供データについて、ユーザーより利用停止依頼を受け付けました。

オファーID：$!offerId
本通知を受け取り次第、本オファーに基づく下記ユーザーのデータ利用停止および削除をお願いいたします。
以後、下記ユーザーからの本オファーに基づくデータ提供は停止されます。
なお、弊社からの個人データの提供タイミングによっては、本通知と前後する場合がございます。予めご了承ください。

$!yyyyMMdd_slashに、弊社にて受け付けた利用停止依頼は下記の通りです。ご対応の程よろしくお願い致します。
本通知は日次でお送りしております。
------------------------------------------------------------------------
#foreach($key in ${map.keySet()})
CID:　$key
受付日時：${map.get($key)}
------------------------------------------------------------------------
#end

※本メールはデータサービスにおけるデータ提供規約第6条（提供個人データの利用停止等）第1項に基づく
ユーザーからの利用停止依頼です。
本オファーに基づく上記ユーザーの情報は今後利用することができなくなり、遅滞なく削除する義務が発生します。


※本メールは送信専用のメールアドレスから配信しております。
　ご返信にはなれません。
　ご不明な点ございましら、各営業担当もしくは下記問合せ窓口までご連絡下さい。

■お問合せ窓口
株式会社J.Score
データソリューション推進部
DB_planning@jscore.co.jp
