$nameさま

このたびは、データ提供サービスをお申込みくださり、誠にありがとうございます。
サービス登録が完了しましたので、データ提供サービスをご利用になれます。
ご利用にあたっては、下記URLより提供先の選択にお進みください。

▼提供先の選択はこちら
https://app.jscore.co.jp/databusiness/home/menu

・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・

登録情報を追加すると提供先が増える可能性があります。
▼登録情報の更新はこちら
https://app.jscore.co.jp/databusiness/data_update_menu


※本メールは送信専用のメールアドレスから配信しております。
ご返信にはなれません。
お問合せの際は下記窓口までご連絡ください。

■お問合せ窓口
zendeskメールアドレス＠jscore.co.jp

株式会社J.Score（ジェイスコア）
https://www.jscore.co.jp
